# Database
DATABASE_URL=

# Redis
REDIS_URL=

# Agent Memory (Redis Cloud)
AGENT_MEMORY_BASE_URL=
AGENT_MEMORY_STORE_ID=
AGENT_MEMORY_API_KEY=

# LLM
GROQ_API_KEY=
GEMINI_API_KEY=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_ALLOWED_USERS=

# Tools
TAVILY_API_KEY=

# LangSmith (optional)
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
